node_modules/
dist/
build/
.next/
out/
coverage/
*.log
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/db/prisma/migrations/dev.db*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
